USE [master]
GO
/****** Object:  Database [DBAdmission]    Script Date: 06-08-2025 12:25:07 ******/
CREATE DATABASE [DBAdmission]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBAdmission', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBAdmission.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBAdmission_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBAdmission_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBAdmission].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBAdmission]
GO
/****** Object:  Table [dbo].[TBLchildAdmission]    Script Date: 06-08-2025 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLchildAdmission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[child_name] [nvarchar](50) NULL,
	[child_age] [nvarchar](50) NULL,
	[child_DOB] [nvarchar](50) NULL,
	[child_BG] [nvarchar](50) NULL,
	[child_religion] [nvarchar](50) NULL,
	[child_cast] [nvarchar](50) NULL,
	[child_nationality] [nvarchar](50) NULL,
	[child_prevclass] [nvarchar](50) NULL,
	[child_prevschool] [nvarchar](50) NULL,
	[child_gender] [nvarchar](50) NULL,
	[father_name] [nvarchar](50) NULL,
	[father_email] [nvarchar](50) NULL,
	[father_contact] [nvarchar](50) NULL,
	[father_occupation] [nvarchar](50) NULL,
	[mother_name] [nvarchar](50) NULL,
	[mother_email] [nvarchar](50) NULL,
	[mother_contact] [nvarchar](50) NULL,
	[mother_occupation] [nvarchar](50) NULL,
	[Parents_Home_Address] [nvarchar](max) NULL,
	[child_class] [nvarchar](50) NULL,
	[child_fees] [nvarchar](50) NULL,
	[child_birthcertificate] [nvarchar](max) NULL,
	[child_Aadhar] [nvarchar](max) NULL,
	[child_photo] [nvarchar](max) NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_TBLchildAdmission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLClassSeatCount]    Script Date: 06-08-2025 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLClassSeatCount](
	[ClassName] [nvarchar](50) NOT NULL,
	[CurrentCount] [int] NULL,
 CONSTRAINT [PK_TBLClassSeatCount] PRIMARY KEY CLUSTERED 
(
	[ClassName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLchildAdmission] ON 

SET IDENTITY_INSERT [dbo].[TBLchildAdmission] OFF
GO
ALTER TABLE [dbo].[TBLchildAdmission] ADD  CONSTRAINT [DF_TBLchildAdmission_DateTime]  DEFAULT (getdate()) FOR [DateTime]
GO
/****** Object:  StoredProcedure [dbo].[InsertChildAdmissionWithSeatCheck]    Script Date: 06-08-2025 12:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertChildAdmissionWithSeatCheck]
    @ClassName NVARCHAR(50),
    @ResultMessage NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentCount INT;

    SELECT @CurrentCount = CurrentCount
    FROM TBLClassSeatCount
    WHERE ClassName = @ClassName;

    IF @CurrentCount IS NULL
    BEGIN
        SET @ResultMessage = 'Class not found.';
        RETURN;
    END

    IF @CurrentCount >= 4
    BEGIN
        SET @ResultMessage = 'Admissions for ' + @ClassName + ' are full.';
        RETURN;
    END

    -- Just update count (no child admission table)
    UPDATE TBLClassSeatCount
    SET CurrentCount = CurrentCount + 1
    WHERE ClassName = @ClassName;

    SET @ResultMessage = 'Seat booked successfully for ' + @ClassName;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertIntoChildAdmission]    Script Date: 06-08-2025 12:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertIntoChildAdmission]
    @child_name NVARCHAR(50),
    @child_age NVARCHAR(50),
    @child_DOB NVARCHAR(50),
    @child_BG NVARCHAR(50),
    @child_religion NVARCHAR(50),
    @child_cast NVARCHAR(50),
    @child_nationality NVARCHAR(50),
    @child_prevschool NVARCHAR(50),
    @child_prevclass NVARCHAR(50),
    @child_gender NVARCHAR(50),
    @father_name NVARCHAR(50),
    @father_email NVARCHAR(50),
    @father_contact NVARCHAR(50),
    @father_occupation NVARCHAR(50),
    @mother_name NVARCHAR(50),
    @mother_email NVARCHAR(50),
    @mother_contact NVARCHAR(50),
    @mother_occupation NVARCHAR(50),
    @Parents_Home_Address NVARCHAR(MAX),
    @child_class NVARCHAR(50),
    @child_fees NVARCHAR(50),
    @child_birthcertificate NVARCHAR(MAX),
    @child_Aadhar NVARCHAR(MAX),
    @child_photo NVARCHAR(MAX),
    @DateTime DATETIME
AS
BEGIN

    DECLARE @CurrentCount INT;

    -- Count kitne students already admitted hai iss class me
    SELECT @CurrentCount = COUNT(*)
    FROM TBLchildAdmission
    WHERE child_class = @child_class;

    -- Agar class ke students 25 ya zyada ho gaye to error
    IF @CurrentCount >= 25
    BEGIN
       RAISERROR('Admission closed: Seats are full for class %s.', 16, 1, @child_class);
        RETURN;
    END

    -- Agar seats available hain to insert kare
    INSERT INTO TBLchildAdmission(
        child_name,
        child_age,
        child_DOB,
        child_BG,
        child_religion,
        child_nationality,
        child_cast,
        child_prevschool,
        child_prevclass,
        child_gender,
        father_name,
        father_email,
        father_contact,
        father_occupation,
        mother_name,
        mother_email,
        mother_contact,
        mother_occupation,
        Parents_Home_Address,
        child_class,
        child_fees,
        child_birthcertificate,
        child_Aadhar,
        child_photo,
        DateTime
    )
    VALUES
    (
        @child_name,
        @child_age,
        @child_DOB,
        @child_BG,
        @child_religion,
        @child_nationality,
        @child_cast,
        @child_prevschool,
        @child_prevclass,
        @child_gender,
        @father_name,
        @father_email,
        @father_contact,
        @father_occupation,
        @mother_name,
        @mother_email,
        @mother_contact,
        @mother_occupation,
        @Parents_Home_Address,
        @child_class,
        @child_fees,
        @child_birthcertificate,
        @child_Aadhar,
        @child_photo,
        @DateTime
    );
END
GO
/****** Object:  StoredProcedure [dbo].[InsertIntoClassSeatCount]    Script Date: 06-08-2025 12:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertIntoClassSeatCount]
as
begin
SELECT 
    child_class,
    COUNT(*) AS SeatsFilled
FROM 
    TBLchildAdmission
GROUP BY 
    child_class
ORDER BY 
    child_class;

end
GO
USE [master]
GO
